@import "../omarchy/current/theme/waybar.css";

window#waybar {
  background-color: rgba(35, 40, 41, 0.75);
  color: @foreground;
}

* {
  background-color: transparent;
  color: inherit;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#custom-cpu-stats,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-update,
#custom-power-profile,
#custom-autorotate-indicator,
#bluetooth,
#network,
#tray,
#custom-expand-icon,
#clock {
  min-width: 12px;
  padding: 0 8px;
  margin: 0;
}

#custom-autorotate-indicator.active {
  color: #a6e3a1;
}

#custom-power-profile.power-saver {
  color: #a6e3a1;
}

#custom-power-profile.balanced {
  color: #f9e2af;
}

#custom-power-profile.performance {
  color: #f38ba8;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}



.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 5px;
  margin-right: 0;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}
